{{#with button}}
{{#if_eq element 'anchor'}}
<a class="button{{#if style}} button--{{style}}{{/if}}{{#if_eq disabled true}} button--disabled{{/if_eq}}{{#if_eq icon.position 'front'}} icon--front{{/if_eq}}" href="{{href}}" target="_blank" role="button"{{#if_eq disabled true}} aria-disabled="true" tabindex="-1"{{/if_eq}}{{#option}} {{key}}="{{value}}"{{/option}}>
{{else}}
<button class="button{{#if style}} button--{{style}}{{/if}}{{#if_eq disabled true}} button--disabled{{/if_eq}}{{#if_eq icon.position 'front'}} icon--front{{/if_eq}}" type="button"{{#if onclick}} onclick="{{onclick}}"{{/if}}{{#if label}} aria-label="{{label}}"{{/if}}{{#option}} {{key}}="{{value}}"{{/option}}>
{{/if_eq}}
  <span class="button-text">{{text}}</span>
  {{#if icon}}
  <svg class="icon" focusable="false" aria-hidden="true" role="img">
    <use xlink:href="#{{icon.svg}}" href="#{{icon.svg}}" />
  </svg>
  {{/if}}
{{#if_eq element 'anchor'}}</a>{{else}}</button>{{/if_eq}}
{{/with}}