<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ _target.title }} | {{ _config.project.title }}</title>
  <link media="all" rel="stylesheet" href="{{ path '/css/common.css' }}">
  
  <style>
    .fractal--icons {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .fractal--icon-example {
      min-width: 8rem;
      margin: 1rem;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 5px;
    }
    .fractal--icon-wrapper {
      padding: 1rem;
    }
    .fractal--icon-wrapper .icon {
      display: block;
      width: 2rem;
      height: 2rem;
      margin: 0 auto;
    }

    .fractal--icon-name {
      display: block;
      padding: 4px;
      border-top: 1px solid #eee;
      font-size: 14px;
      text-align: center;
    }
  </style>

</head>
<body>
   <div class="inline-svg">
    {{{inlineSVG './public/svg/icons.svg'}}}
  </div>
  <div class="preview-container">
    {{{yield}}}
  </div>

  {{!-- <script async src="{{ path '/js/script.js' }}"></script> --}}
</body>
</html>